---
molecule: submit
---

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" id="{{ id }}" class="btn btn-default" name="{{ id }}">{{ label }}</button>
    </div>
</div>