---
organism: form
---

<form id="{{ id }}" class="{{ classes }}" role="form">
    

    <!-- Title -->
    {{> form-part__select employeeTitleSelect }}
    
    <!-- Salary -->
    {{> form-part__input periodSalaryInput }}
    
    <!-- Hours -->
    {{> form-part__input billableHoursInput }}
    
    <!-- Delivery -->
    {{> form-part__select deliverySuccessSelect }}
    
    <!-- Contributions -->
    {{> form-part__select internalContributionsSelect }}
    
    <!-- Submit -->
    {{> form-part__submit submit }}
</form>