---
organism: table
---

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <td></td>
                <td colspan="2" class="info text-center">Potential</td>
                <td colspan="2" class="text-center">Actual</td>
            </tr>
            <tr class="active">
                <td>Performance Measures</td>
                <td class="text-center">% Allocation</td>
                <td class="text-right">Potential Bonus</td>
                <td class="text-center">Factors (% of potential)</td>
                <td class="text-right">Bonus Earned</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Billable Hours</td>
                <td class="info text-center">50%</td>
                <td class="billable-potential info text-right">$0.00</td>
                <td class="billable-factors text-center">0%</td>
                <td class="billable-actual text-right">$0.00</td>
            </tr>
            <tr>
                <td>Delivery Success</td>
                <td class="info text-center">20%</td>
                <td class="delivery-potential info text-right">$0.00</td>
                <td class="delivery-factors text-center">0%</td>
                <td class="delivery-actual text-right">$0.00</td>
            </tr>
            <tr>
                <td>Int Contributions</td>
                <td class="info text-center">30%</td>
                <td class="contributions-potential info text-right">$0.00</td>
                <td class="contributions-factors text-center">0%</td>
                <td class="contributions-actual text-right">$0.00</td>
            </tr>
            <tr>
                <td></td>
                <td class="info"></td>
                <td class="total-potential info text-right">$0.00</td>
                <td></td>
                <td class="total-actual text-right">$0.00</td>
            </tr>
        </tbody>
    </table>
</div>