---
component: table
---

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <td></td>
                <td colspan="2" class="info text-center">Potential</td>
                <td colspan="3" class="text-center">Actual</td>
            </tr>
            <tr class="active">
                <td>Performance Measures</td>
                <td class="text-center">% Allocation</td>
                <td class="text-right">Potential Bonus</td>
                <td class="text-center">Score</td>
                <td class="text-center">Factors (% of potential)</td>
                <td class="text-right">Bonus Earned</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Billable Hours</td>
                <td class="info text-center">50%</td>
                <td class="info text-right">$812.50</td>
                <td class="text-center">850 hrs</td>
                <td class="text-center">87.5%</td>
                <td class="text-right">$710.94</td>
            </tr>
            <tr>
                <td>Delivery Success</td>
                <td class="info text-center">20%</td>
                <td class="info text-right">$325.00</td>
                <td class="text-center">M+</td>
                <td class="text-center">75%</td>
                <td class="text-right">$243.75</td>
            </tr>
            <tr>
                <td>Int Contributions</td>
                <td class="info text-center">30%</td>
                <td class="info text-right">$487.50</td>
                <td class="text-center">1</td>
                <td class="text-center">100%</td>
                <td class="text-right">$487.50</td>
            </tr>
            <tr>
                <td></td>
                <td class="info"></td>
                <td class="info text-right">$1,625.00</td>
                <td></td>
                <td></td>
                <td class="text-right">$1,442.19</td>
            </tr>
        </tbody>
    </table>
</div>