---
title: Bonus Calculator
heading: 'XD Bonus Calculator'
---
<div class="jumbotron">
  <h1>{{ heading }}</h1>
  <p>If you're confused about the new bonus system in place for XD, buck up, Sally.  There's no need for that.  This here is the certified, guaranteed, officially licensed, one-of-a-kind, estimated and likely inaccurate calculator for all your bonus needs!</p>
</div>

{{> form-bonus-input }}

{{> table-bonus-results }} 